<!Doctype html>
   <html>
	   <head>
		   <title>Jared</title>
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		   	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	   </head>
         <body>
			 
 <div class="container-fluid">
		 <a id="navBrand" href="/">αλήθεια</a>
	 <!-- <div class="text-right"> -->
		 <a id="navAnchor" href="/blogIndex">Blogs</a>
		 <a id="navAnchor" href="videoIndex">Video</a>
		 <a id="navAnchor" href="#">Additonal</a>
	 <!-- </div> -->
	    <hr>
  </div>
	
	
