<%- include ("../partials/header") %>

<div class="container">
	<h1 style="margin-top: 5%; color: black;">Upload New Video</h1>
	
		<form action="/videoIndex" method="POST">
			<div class="form-group mx-sm-3">
				<label>Title</label>
				<input class="form-control" type="text" name="title" placheolder="title">
			</div>
			<div class="form-group mx-sm-3">
				<label>Video</label>
				<input class="form-control" type="video" name="source" placheolder="video-URL">
			</div>
			<button class="btn btn-outline-info mx-sm-3" href="#">Submit</button>
		</form>
	
</div>




<%- include ("../partials/footer") %>