<%- include ("../partials/header") %>

<div class="container newForm ">

<form method="POST" action="/videoIndex" enctype="multipart/form-data">
	<input type="file" name="file">
	<input type="submit" name="Upload">
</form>
	
</div>


<%- include ("../partials/footer") %>