<%- include ("../partials/header") %>

<div class="container videoIndex">
	<div class="row">
		
		<% videos.forEach(function(video){ %>
			<div class="col-md-6">
				<iframe width="400" height="300" 
					src="<%= video.source %>" allowfullscreen>
				</iframe>
			</div>
		<% }); %>
		
	</div>
	<a href="/videoIndex/new">New</a>
</div>

<%- include ("../partials/footer") %>