<%- include ("../partials/header") %>

<h1>Upload File</h1>

<!-- <form method="POST" action="/videoIndex" enctype="multipart/form-data">
	<input type="file" name="file">
	<input type="submit" name="Upload">
</form> -->

<%- include ("../partials/footer") %>