<%- include ("partials/header") %>

<div id="parallax-world-of-ugg">
  
<section>
  <div class="title">
    <h3>Join the Journey</h3>
    <h1>Discovering Truth</h1>
  </div>
</section>

<section>
    <div class="parallax-one">
      <h2>Sola Scriptura</h2>
    </div>
</section>

<section>
  <div class="block">
    <p><span class="first-character sc">ἀ</span>λήθεια (ä-le-thay-ya) - what is true in any matter under consideration (opposed to what is feigned, fictitious or false)</p>
    <p class="line-break margin-top-10"></p>
	  <p class="margin-top-10">In 2 Timothy 4 Paul asserts Christ' position of authority over all created beings, whom he will righteously judge. In light of this, he entreats Timothy to continue in preaching truth, since many will be deceived and overcome by their own desires. "<span class="quotes">Preach the word; be prepared in season and out of season; correct, rebuke and encourage—with great patience and careful instruction. For the time will come when people will not put up with sound doctrine. Instead, to suit their own desires, they will gather around them a great number of teachers to say what their itching ears want to hear. They will turn their ears away from the truth and turn aside to myths"</span> </p>
  </div>
</section>

<section>
  <div class="parallax-two">
    <h2>Solus Christus</h2>
  </div>
</section>

<section>
  <div class="block">
    <p>Here at Alethea, we desire to reflect on Christian principles and to bring the best possible biblical exposition of God's word in order to help the Christian grow in their everyday walk with God. We are sold out for the Kingdom of God and hope that our resources will help each and every Christian to develop a deep, personal, and everlasting love for God as we seek to <a href="https://en.wikipedia.org/wiki/Westminster_Shorter_Catechism">"Glorify Him and enjoy Him forever".</a> </p>
    <p class="line-break margin-top-10"></p>
    <p class="margin-top-10">We wholeheartedly believe that the Christian is called to devotion in their study of God's word. This means an active duty to <a href="#">"Work out our own salvation with fear and trembling"</a> (Phil 2: 12). We therefore encourage you to use these resources only as a supplement to your own study as you discover the majesty of God. Know that we are commited to this journey with you and hope that you will be enriched by the content that you find here. </p>
  </div>
</section>

<section>
  <div class="parallax-three">
    <h2>Soli deo gloria</h2>
  </div>
</section>

<section>
  <div class="block">
    <p><span class="first-character atw"></span></p>
    <p class="line-break margin-top-10"></p>
    <p class="margin-top-10"></p>
  </div>
</section>
  
</div>



<%- include ("partials/footer") %>