<%- include ("../partials/header") %>

<div class="container newForm ">

	<h1 class="mx-sm-3">Create New BlogPost</h1>
	
		<form action="/blogIndex" method="POST">
			<div class="form-group mx-sm-3">
				<label>Title</label>
			<input class="form-control" type="text" name="title"  placeholder="title">
			</div>
			<div class="form-group mx-sm-3">
				<label>Date</label>
			<input class="form-control" type="text" name="date"  placeholder="date">
			</div>
			<div class="form-group mx-sm-3">
				<label>Topic</label>
			<input class="form-control" type="text" name="topic" placeholder="Topic">
			</div>
			<div class="form-group mx-sm-3">
				<label>Subtitle</label>
			<input class="form-control" type="text" name="subtitle"  placeholder="subtitle">
			</div>
			<div class="form-group mx-sm-3">
				<label>Image</label>
			<input class="form-control" type="text" name="image" placeholder="image">
			</div>			
			<div class="form-group mx-sm-3">
				<label>Abstract</label>
			<input class="form-control" type="text" name="abstract" placeholder="abstract">
			</div>
			<div class="form-group mx-sm-3">
				<label>Content</label>
					<div>
					<textarea class="form-control" rows="7" name="blogContent" placeholder="blogContent"></textarea>
					</div>
			</div>
			<button class="btn btn-outline-info mx-sm-3" href="#">Submit</button>
		</form>

       <!-- <a href="/blogIndex">Back</a> -->
	
</div>


<%- include ("../partials/footer") %>